@charset "utf-8";
/*
@import url('./nanumgothic.css');
@import url('./nanumbarungothic.css');
@import url('./nanumsquare.css');
*/
@import url('./nanumsquare.css');
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  margin: 0;
  padding: 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  image-rendering: -webkit-optimize-contrast;
}
body, th, td, input, select, textarea, button, code, kbd, pre, samp {
  font-family: "Noto Sans KR", "Dotum", Arial, Tahoma, sans-serif, serif;
  color: #444;
  font-size: 15px;
  line-height:1.4;
  font-weight:400;
}

ul, ol, dl {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, strong, th {
  font-weight: 400;
}

b {
  font-weight: bold;
}

a {
    color: inherit;
    text-decoration: none;
}
a:active, a:hover {
    text-decoration: none;
}
img{max-width:100%;}
input[type="text"],input[type="password"],textarea{-webkit-appearance: none;-moz-appearance: none;appearance: none;border-radius: 0px;font-family:'Noto Sans KR';}
select{border-radius:0;}
select::-ms-expand{display: none;}
.hide {
  display: none
}
button{cursor:pointer;}
/* float */
.float .left{float:left;}
.float .right{float:right;}

.clearfix{zoom:1}
.clearfix:after, .clearfix:before{display:table;content:"";}
.clearfix:after{clear: both;}

/* vertical align */
.align_top{vertical-align:top}
.align_middle{vertical-align:middle}
.align_bottom{vertical-align:bottom}

/* text align */
.align_center{text-align:center}
.align_left{text-align:left}
.align_right{text-align:right}

/* display */
.block {display:block !important;}
.il_block {display:inline-block !important;}
.hide {display:none !important;}
.screen_hide{position: absolute;text-indent: -9999px;width: 0;height: 0;font-size: 0;border:0;line-height: 0;overflow: hidden;}
.sound_only {
  display: inline-block !important;
  position: absolute;
  top: 0;
  left: 0;
  width:0 !important;
  height:0 !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  border: 0 !important;
  overflow: hidden !important
}

.mgt0 {margin-top:0px !important;}
.mgt5 {margin-top:5px !important;}
.mgt10 {margin-top:10px !important;}
.mgt15 {margin-top:15px !important;}
.mgt20 {margin-top:20px !important;}
.mgt30 {margin-top:30px !important;}
.mgt40 {margin-top:40px !important;}
.mgt50 {margin-top:50px !important;}

.mgr5 {margin-right:5px !important;}
.mgr10 {margin-right:10px !important;}
.mgr20 {margin-right:20px !important;}
.mgr30 {margin-right:30px !important;}
.mgr50 {margin-right:50px !important;}

.mgb5 {margin-bottom:5px !important;}
.mgb10 {margin-bottom:10px !important;}
.mgb20 {margin-bottom:20px !important;}
.mgb30 {margin-bottom:30px !important;}
.mgb50 {margin-bottom:50px !important;}

.mgl5 {margin-left:5px !important;}
.mgl10 {margin-left:10px !important;}
.mgl20 {margin-left:20px !important;}
.mgl30 {margin-left:30px !important;}
.mgl50 {margin-left:50px !important;}

.pdl0{padding-left:0px !important;}
.pdl5{padding-left:5px !important;}
.pdl10{padding-left:10px !important;}
.pdl20{padding-left:20px !important;}
.pdl30{padding-left:30px !important;}
.pdl40{padding-left:40px !important;}
.pdl50{padding-left:50px !important;}

.pdr0{padding-right:0px !important;}
.pdr5{padding-right:5px !important;}
.pdr10{padding-right:10px !important;}
.pdr20{padding-right:20px !important;}
.pdr30{padding-right:30px !important;}
.pdr40{padding-right:40px !important;}
.pdr50{padding-right:50px !important;}


.txt_underline{text-decoration:underline !important;}
.txt_red{color:#ee0202 !important;}
.txt_bgreen{color:#8edac2 !important;}
.txt_green{color:#00c63d !important;}
.txt_blue{color:#2f5ac6 !important;}
.txt_skyblue{color:#55acee !important;}
.txt_orange{color:#ff683f !important;}

.fs_13{font-size:13px !important;}
.fs_14{font-size:14px !important;}
.fs_15{font-size:15px !important;}
.fs_16{font-size:16px !important;}
.fs_17{font-size:17px !important;}
.fs_18{font-size:18px !important;}

.bold{font-weight:500;}

#layout{max-width:680px;margin-left:auto;margin-right:auto;position:relative;min-height: 100vh;}
.container{padding-left:20px;padding-right:20px;}
.container:after{clear: both;display: table;content: "";*display: block;*overflow: hidden}
.container:before{display: table;content: "";*display: block;*overflow: hidden}
.container_pp{padding-left:23px;padding-right:23px;}
.container_pp:after{clear: both;display: table;content: "";*display: block;*overflow: hidden}
.container_pp:before{display: table;content: "";*display: block;*overflow: hidden}

/*슬라이더*/
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:0}
.slick-list.dragging{cursor:pointer;cursor:hand}
.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}
.slick-track:after,.slick-track:before{display:table;content:''}
.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left;height:100%;min-height:1px}
[dir=rtl] .slick-slide{float:right}
.slick-slide img{display:block;max-width:100%;}
.slick-slide.slick-loading img{display:none}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}
.slick-arrow.slick-hidden{display:none}
.slider_form .slick-dots{}
.slider_form .slick-dots{text-align:center;height:6px;}
.slider_form .slick-dots li{display:inline-block;margin:0 4px;height:6px;}
.slider_form .slick-dots li button{text-indent:-999em;width:6px;height:6px;overflow:hidden;border:0;background-color:#a7a6a6;border-radius:50%;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-ms-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.slider_form .slick-dots li.slick-active button{background-color:#ec1b36;}
.slick-slider .slick-arrow{position:absolute;top:50%;display:inline-block;text-indent:-999em;overflow:hidden;}


/*디자인 체크,라디오*/
.design_check,.design_radio{position:relative;display:inline-block;overflow:hidden;cursor:pointer;background-repeat:no-repeat;color:#999;font-size:15px;background-position:left center;}
.design_check.active,.design_radio.active{color:#222;}
.design_check input[type="checkbox"],.design_radio input[type="radio"]{position:absolute;left:-999em;top:0;z-index:-1;}
.design_check.inline,.design_radio.inline{display:inline-block;}
.design_check.inline + .design_check.inline,.design_radio.inline + .design_radio.inline{margin-left:36px;}

.design_radio.style1{background-image:url('../images/common/radio_type1.png');padding-left:25px;min-height:21px;background-size:16px auto;}
.design_radio.style1.active{background-image:url('../images/common/radio_type1_on.png');}
.design_radio.style2{background-image:url('../images/common/radio_type2.png');padding-left:25px;min-height:21px;background-size:16px auto;}
.design_radio.style2.active{background-image:url('../images/common/check_type1_on.png');}
.design_radio.style3{background-image:url('../images/common/radio_type3.png');padding-left:25px;min-height:21px;background-size:16px auto;}
.design_radio.style3.active{background-image:url('../images/common/radio_type3_on.png');}
.design_check.style1{background-image:url('../images/common/check_type1.png');padding-left:25px;min-height:21px;background-size:16px auto;}
.design_check.style1.active{background-image:url('../images/common/check_type1_on.png');}
.design_check.style2{background-image:url('../images/common/check_type1.png');padding-left:27px;min-height:27px;background-size:16px auto;}
.design_check.style2.active{background-image:url('../images/common/check_type1_on.png');}


label{cursor:pointer;}
.checkbox,.radiobox{position:relative;display:inline-block;overflow:hidden;cursor:pointer;background-repeat:no-repeat;color:#999;font-size:15px;background-position:left center;}
.checkbox{display:inline-block;padding-left:25px;min-height:18px;line-height:18px;position:relative;font-size:14px;color:#333;}
.checkbox span{width:16px;height:16px;position:absolute;left:0;top:0;background-color:#fff;border-radius:50%;
background-repeat:no-repeat;background-position:center center;background-size:16px;
background-image:url('../images/common/check_type1.png');}
.checkbox input[type="checkbox"]{position:absolute;left:-999em;top:0;}
.checkbox input[type="checkbox"]:checked + span{background-color:#ea150e;background-image:url('../images/common/check_type3.png');}
.checkbox.type2 input[type="checkbox"]:checked + span{background-color:#000;background-image:url('../images/common/check_type1_on.png');}
.checkbox.type2 input[type="checkbox"]:checked + span + strong{color:#000;}

.radiobox{display:inline-block;padding-left:25px;min-height:18px;line-height:18px;position:relative;font-size:14px;color:#333;}
.radiobox span{width:18px;height:18px;position:absolute;left:0;top:0;background-color:#fff;border:1px solid #d0d0d0;border-radius:50%;}
.radiobox span:before{content:"";display:block;width:8px;height:8px;position:absolute;left:50%;top:50%;margin-top:-4px;margin-left:-4px;border-radius:50%;background-color:#F4F4F4;}
.radiobox input[type="radio"]{position:absolute;left:-999em;top:0;}
.radiobox input[type="radio"]:checked + span{background-color:#485fab;border:1px solid #485fab;}
.radiobox input[type="radio"]:checked + span:before{background-color:#fff;}



.rl_all_check .ec_radio{}
.rl_all_check .ec_radio.active{color:#37bac2;}
.rl_all_check .ec_radio.black.active{color:#222;}

.ec_radio{background-image:url('../images/common/radio_type2.png');background-size:15px auto;background-repeat:no-repeat;background-position:left center;padding-left:22px;display:inline-block;height:15px;line-height:15px;color:#999;font-size:11px;
position:relative;overflow:hidden;cursor:pointer;}
.ec_radio.active{color:#444;background-image:url('../images/common/radio_type2_on.png');}
.ec_radio.black.active{color:#444;background-image:url('../images/common/radio_type2_black.png');}
.ec_radio + .ec_radio{margin-left:14px;}
.ec_radio input{position:absolute;left:-999em;top:0;z-index:-1;}


/*헤드*/
.common_hd{position: fixed;top: 0;left: 0;z-index: 100;width: 100%;height:62px;}
.common_hd.brown{background-color:#767165;}
#logo{width:140px;margin:14px auto 0;}
.hd_search{position:absolute;right:13px;top:22px;width:19px;height:19px;overflow:hidden;border:0;background-color:transparent;background-image:url('../images/common/hd_search.png');background-size:19px auto;background-repeat:no-repeat;background-position:left center;text-indent:-999em;overflow:hidden;}
.hd_search.type2{top:15px;background-image:url('../images/common/sf_submit.jpg');}

.hd_menu{display: block;position: absolute;top: 23px;width: 18px;left:13px;height: 17px;}
.hd_menu .menu_toggle{border:0;background-color:transparent;width: 18px;height: 17px;text-indent:-999em;overflow:hidden;background-image:url('../images/common/menu_toggle.png');background-size:18px auto;background-repeat:no-repeat;background-position:center center;}

.hd_menu .menu_form{display:none;}
.hd_menu .menu_form .menu_bg{display:none;background-color:rgba(0,0,0,.8);position:fixed;z-index:150;left:0;top:0;width:100%;height:100%;}

.hd_menu .menu_form .menu_box{position:fixed;z-index:200;width:80%;height:100%;background-color:#fff;left:-80%;top:0;overflow-y:auto;}
.hd_menu .menu_form .menu_box .mem_box{padding:15px 14px 10px;background-color:#757064;}
.hd_menu .menu_form .menu_box .mem_box .mb_top{padding-bottom:12px;padding-left:4px;padding-right:64px;position:relative;border-bottom:1px solid #b6ae9b;}
.hd_menu .menu_form .menu_box .mem_box .mb_top .name{font-size:29px;color:#fff;font-weight:100;letter-spacing:-1px;display:block;max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.hd_menu .menu_form .menu_box .mem_box .mb_top .email{font-size:14px;color:#f6e1ae;display:block;margin-top:5px;max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.hd_menu .menu_form .menu_box .mem_box .mb_top .links{position:absolute;right:0;top:0;text-align:center;}
.hd_menu .menu_form .menu_box .mem_box .mb_top .links a{display:block;width:64px;height:22px;border:1px solid #0e0e0e;background-color:rgba(0,0,0,.7);color:#fff;line-height:20px;font-size:12px;}
.hd_menu .menu_form .menu_box .mem_box .mb_top .links a + a{margin-top:3px;}

.hd_menu .menu_form .menu_box .mem_box .mb_bottom{padding:12px 4px 0;position:relative;}
.hd_menu .menu_form .menu_box .mem_box .mb_bottom .tit{color:#d3d3d3;font-size:12px;display:block;}
.hd_menu .menu_form .menu_box .mem_box .mb_bottom .mbb_point{margin-top:8px;}
.hd_menu .menu_form .menu_box .mem_box .mb_bottom .mbb_point .my_point{padding-left:28px;display:block;color:#ffe450;font-size:20px;height:21px;line-height:21px;background-image: url('../images/common/point.png');
background-repeat: no-repeat;
background-position: left center;
background-size: 20px;}
.hd_menu .menu_form .menu_box .mem_box .mb_bottom .mbb_point a{position:absolute;right:0;bottom:0;display:block;border:1px solid #0e0e0e;width:74px;height:22px;line-height:20px;color:#fff;font-size:12px;text-align:center;}

.hd_menu .menu_form .menu_box .nav{padding:0 0 0 15px;}
.hd_menu .menu_form .menu_box .nav ul{}
.hd_menu .menu_form .menu_box .nav ul li{height:50px;background-image: url('../images/common/nav_arrow.jpg');
background-repeat: no-repeat;
background-position: right center;
background-size: 28px;}
.hd_menu .menu_form .menu_box .nav ul li + li{border-top:3px solid #eee;}
.hd_menu .menu_form .menu_box .nav ul li a{display:block;line-height:47px;padding-left:48px;color:#555;font-size:16px;background-repeat:no-repeat;background-position:left center;background-size:35px;}
.hd_menu .menu_form .menu_box .nav ul li:first-child{height:47px;}
.hd_menu .menu_form .menu_box .nav ul li:first-child a{line-height:44px;}

.hd_menu .menu_form .menu_box .nav ul li.home a{background-image:url('../images/common/nav_home.jpg');}
.hd_menu .menu_form .menu_box .nav ul li.action a{background-image:url('../images/common/nav_action.jpg');}
.hd_menu .menu_form .menu_box .nav ul li.ireg a{background-image:url('../images/common/nav_ireg.jpg');}
.hd_menu .menu_form .menu_box .nav ul li.ique a{background-image:url('../images/common/nav_ique.jpg');}
.hd_menu .menu_form .menu_box .nav ul li.zzim a{background-image:url('../images/common/nav_zzim.jpg');}
.hd_menu .menu_form .menu_box .nav ul li.mypage a{background-image:url('../images/common/nav_mypage.jpg');}
.hd_menu .menu_form .menu_box .nav ul li.cs a{background-image:url('../images/common/nav_cs.jpg');}
.hd_menu .menu_form .menu_box .nav ul li.qna a{background-image:url('../images/common/nav_qna.jpg');}
.hd_menu .menu_form .menu_box .nav ul li.set a{background-image:url('../images/common/nav_set.jpg');}

.tap_box_form{}
.tap_box_form .tap_box{display:none;}
.tap_box_form .tap_box:first-child{display:block;}

#footer{background-color:#434343;padding-top:21px;padding-bottom:18px;}
#footer .ft_cs{color:#c3c3c3;font-size:12px;letter-spacing:-0.5px;}
#footer .ft_cs span{display:block;padding-left:23px;background-repeat:no-repeat;background-position:left center;}
#footer .ft_cs span.tel{background-image:url('../images/common/ft_cs_tel.jpg');background-size:11px auto;}
#footer .ft_cs span.email{margin-top:5px;background-image:url('../images/common/ft_cs_email.jpg');background-size:11px auto;}
#footer .ft_info{margin-top:13px;color:#c3c3c3;font-size:11px;letter-spacing:-0.3px;}
#footer .ft_info span{display:inline-block;margin-right:10px;margin-top:3px;}
#footer .ft_caution{color:#999;font-size:11px;margin-top:15px;}
#footer .copy{color:#a3a3a3;font-size:10px;margin-top:15px;}
#footer .copy strong{color:#ffd550;}

/*레이어*/
.layer_form{background-color:rgba(0,0,0,.8);position:fixed;z-index:300;left:0;top:0;width:100%;height:100%;text-align: center;display:none;overflow-y:auto;}
.layer_form .layer_box{margin-top:45px;background-color:#fff;width:85%;position: relative;z-index: 10;text-align: left;display: inline-block;vertical-align: middle;}
.layer_form .layer_box .lb_title{color:#fff;font-size:23px;padding:15px 0;background-color:#6f6d5f;text-align:center;}
.layer_form .layer_box .lb_cnt{padding:25px 25px 0;}
.layer_form .layer_box .terms_txt{max-height:250px;overflow-y:auto;font-size:14px;color:#666;line-height:22px;}
.layer_form .layer_box .terms_txt .scroll{margin-bottom:20px;}

.layer_form .layer_box .layer_btn{padding:25px;}
.layer_form .layer_box .layer_btn button{width:100%;font-size:14px;height:46px;}
.layer_form .layer_box .layer_btn button.white{color:#6f6d5f;background-color:#fff;border:1px solid #6f6d5f;}

.layer_form .layer_box .layer_close{position:absolute;top:-45px;right:-12.5px;width:25px;height:25px;border:0;background-color:transparent;background-image:url('../images/common/layer_close.png');background-size:cover;overflow:hidden;text-indent:-999em;overflow:hidden;}
.layer_form .align{display: inline-block;width: 0;height: 100%;vertical-align: middle;}
.layer_form .bg{position:absolute;z-index:1;left:0;top:0;width:100%;height:100%;}

.layer_form .lf_txt_type1{color:#7a7a7a;font-size:17px;}
.layer_form .lf_input_type1{height:37px;line-height:35px;padding-left:13px;border:1px solid #9c9c9c;background-color:#fff;width:100%;color:#999;}
.layer_form .lf_txt_type1 + .lf_input_type1{margin-top:20px;}
.search_pwcomp .lb_cnt{margin:37px 0 20px;}

.fixed_layer .contBox2{}

.clearFix {position:relative; zoom:1;}
.clearFix:after,
.clearFix:before {display:block; content:'';}
.clearFix:after {clear:both}

.ellipsis {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

.a11y {display:block; overflow:hidden; position:absolute; left:-9999px; width:1px; height:1px; font-size:0; line-height:0; text-indent:-9999px;}
.noBg {background:none !important;}

select {padding:0 0 0 13px; height:35px; letter-spacing:-1px; color:#999; font-size:12px; font-weight:500; background:url('../images/common/bg_selectbox_arrow.png') no-repeat right 13px center; background-size:12px; appearance:none; -webkit-appearance:none; box-sizing:border-box;}
select.type2{ font-size:14px;border:1px solid #9c9c9c;background:url('../images/common/select_type2.png') no-repeat right center; background-size:40px auto;}
select:disabled {color:#999; background:url('../images/common/bg_selectbox_arrow_disabled.gif') no-repeat right 16px center;}
select::-ms-expand {display:none;}
.ui-datepicker {display:none;}

/* placeholder color 
::-webkit-input-placeholder {color:#999 !important}
:-webkit-input-placeholder {color:#999 !important}
::-moz-placeholder {color:#999 !important}
:-moz-placeholder {color:#999 !important}
:-ms-input-placeholder {color:#999 !important}


/* disable blue highlight 
a, button {
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
*/